<!DOCTYPE html>
<head>
    <Title>Home page</Title>
</head>

<body>
    <p>This is the body</p>
    <nav>
        <div> Barbing</div>
        <div>
            <a href="Index.html">Home</a>
            <a href="Offer.html">Our Offer</a> 
            <a href="Booking.html">Booking</a>
            <a href="Faq.html">FAQ</a>
        </div>
        <div> Search for barbers</div>
    </nav>
    <div class="hero">
        <div>
            <h1>Discover the best barbing experience</h1>
            <p>Explore new barbing styles and have great barbing experience</p>
            <a href="https://rb.gy/c1ii6i"><button>Explore</button></a>
        </div>
        <img src="barber.jpg" alt="Barber Image">
    </div>
    <div class="booking">
        <div>
            <label>Location</label>
            <input type="text" value="Salon">
        </div>
        <div>
            <label>Date</label>
            <input type="datetime" value="datetime">
        </div>
        <div>
            <label>Barbers</label>
            <input type="text" value="">
        </div>
        
    </div>
</body>